* {
  margin: 0px;
  font-family: "Inria Serif", serif;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  color: #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
header nav {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0% 10%;
}
header nav h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
header nav a {
  text-decoration: none;
}
header nav a li {
  display: inline;
  list-style-type: none;
  padding-right: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
header nav svg {
  display: none;
}

body {
  background-color: #F5F5F5;
}

.home {
  max-width: 1440px;
  height: 94vh;
  box-sizing: border-box;
  margin: auto 10%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .home-content {
  margin-left: 100px;
}
.home .home-content h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.25;
  margin-bottom: 1rem;
}
.home .home-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1rem;
}
.home .home-content button {
  width: 200px;
  height: 50px;
  background: #44DFC4;
  border-radius: 50px;
  border: none;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (max-width: 425px) {
  header {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    color: #000;
  }
  header nav {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0% 10%;
  }
  header nav h1 {
    font-size: 18px;
  }
  header nav ul {
    display: none;
  }
  header nav svg {
    display: inline-block;
  }

  body {
    background-color: #F5F5F5;
  }

  .home {
    max-width: 425px;
    height: 94vh;
    box-sizing: border-box;
    margin: 0px 10%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home .home-img img {
    width: 70%;
    height: auto;
    margin: 0px auto 2rem auto;
    display: block;
  }
  .home .home-content {
    margin: 0px;
    text-align: center;
  }
  .home .home-content h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 1rem;
  }
  .home .home-content p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1rem;
  }
  .home .home-content button {
    width: 200px;
    height: 50px;
    background: #44DFC4;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}/*# sourceMappingURL=main.css.map */