
.footer {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    // margin: auto 10%;
    padding: 2.5% 15%;
    background-color: #44DFC4;

    .footer-content {
        display: flex;
        justify-content: space-between;

        h1 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            color: #FFFFFF;
        }

        .footer-icon {

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;


                li {
                    list-style-type: none;
                    display: inline;
                    padding-left: 15px;

                    svg {
                        width: 24px;
                    }
                }
            }

        }



    }

    .footer-copyrights {
        margin: auto;
        height: 120px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        box-sizing: border-box;

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            text-align: center;
            padding: 15px;

        }

    }

}