@use 'mixin';

.skills {
    @include mixin.section();
    // border: 1px solid black;
    height: auto !important;
    padding: 2.5% 5%;

    .skills-title {
        margin-bottom: 2rem;

        h2 {
            @include mixin.sectionTitle(18px);

        }
    }

    .skills-flex {
        display: flex;
        justify-content: space-between;

        .skills-content {


            h1 {
                @include mixin.sectionHeading(24px);
                margin-bottom: 2rem;
            }

            .skills-lists {

                // background-color: #000;
                // display: flex;
                .skills-lists-flex {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    padding-right: 20px;

                    .skills-lists-image {
                        width: 50px;
                        height: 50px;
                        background: #E6F4F5;
                        box-sizing: border-box;
                        border-radius: 50px;
                        // border: 1px solid black;

                        svg {
                            display: block;
                            margin: 2px auto 0px auto;
                        }
                    }

                    .skills-list-desc {
                        // padding-left: 20px;
                        width: 80%;

                        h2 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            margin-bottom: 0.75rem;
                        }

                        p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }

            }

        }
    }
}