@use 'scss/client';
@use 'scss/contact';
@use 'scss/footer';
@use 'scss/header';
@use 'scss/home';
@use 'scss/portfolio';
@use 'scss/skills';
@use 'scss/mixin';
@use 'scss/mobile/mobileHeader' as mobileHeader;
@use 'scss/mobile/mobileHome' as mobileHome;
@use 'scss/mobile/mobileSkills' as mobileSkills;
@use 'scss/mobile/mobilePortfolio' as mobilePortfolio;
@use 'scss/mobile/mobileClient' as mobileClient;
@use 'scss/mobile/mobileContact' as mobileContact;
@use 'scss/mobile/mobileFooter' as mobileFooter;




$text-color : #333;
$background-color : #fff;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    font-family: 'Inria Serif', serif;
    font-family: 'Open Sans', sans-serif;
}


body {
    background-color: #F5F5F5;

    h1,
    h2,
    p {
        color: $text-color;
    }
}


@media only screen and (max-width: 425px) {
    
    body {
        background-color: #F5F5F5;
    }
    
}