@use 'scss/client';
@use 'scss/contact';
@use 'scss/footer';
@use 'scss/header';
@use 'scss/home';
@use 'scss/portfolio';
@use 'scss/skills';
@use 'scss/mixin';
@use 'scss/mobile/header' as mobileHeader;
@use 'scss/mobile/home' as mobileHome;
@use 'scss/mobile/skills' as mobileSkills;
@use 'scss/mobile/portfolio' as mobilePortfolio;
@use 'scss/mobile/client' as mobileClient;
@use 'scss/mobile/contact' as mobileContact;
@use 'scss/mobile/footer' as mobileFooter;




$text-color : #333;
$background-color : #fff;



* {
    margin: 0px;
    font-family: 'Inria Serif', serif;
    font-family: 'Open Sans', sans-serif;
}



// header navbar


body {
    background-color: #F5F5F5;

    h1,
    h2,
    p {
        color: $text-color;
    }
}




@media only screen and (max-width: 425px) {
    
    mobileHeader{};

    body {
        background-color: #F5F5F5;
    }

    mobileHome{};

    mobileSkills{};

    mobilePortfolio{};

    mobileClient{};

    mobileContact{};

    
}