@use 'mixin';

.client {
    @include mixin.section();
    height: auto !important;
    padding: 2.5% 5%;
    background: url('../images/bg.png'), #F5F5F5 !important;
    box-sizing: border-box;


    h2 {
        @include mixin.sectionTitle(16px);
        text-align: center
    }

    .client-container {

        h1 {
            @include mixin.sectionHeading(24px);
            text-align: center;
            margin-bottom: 1rem;
        }

        .client-card-flex {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;

            .client-card {
                width: 100%;
                height: 400px;
                box-sizing: border-box;
                background: #FFFFFF;
                border: 1px solid #E6F4F5;
                box-shadow: 4px 4px 13px 3px rgb(0 0 0 / 10%);
                border-radius: 20px;
                padding: 40px 30px;
                margin-bottom: 2rem;

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    display: block;
                    margin: 0px auto 2rem auto;
                    border-radius: 100px;
                }

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 24px;
                    text-align: center;
                    margin-bottom: 1.5rem;
                }

                button {
                    @include mixin.button(150px, 40px, 14px);
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}