@use 'mixin';

@media only screen and (max-width: 425px) {

    .home {
        @include mixin.section();
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 1px solid black;
        // padding: 50px 0px;

        .home-img img {
            width: 70%;
            height: auto;
            margin: 0px auto 2rem auto;
            display: block;
        }

        .home-content {
            margin: 0px;
            text-align: center;

            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.25;
                margin-bottom: 1rem;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 1rem;
            }

            button {
                @include mixin.button(150px, 40px, 14px);
            }
        }

    }
}