@media only screen and (max-width: 425px) {

    $text-color : #333;
    $background-color : #fff;

    header {
        width: 100%;
        height: 60px;
        background-color: #FFFFFF;
        // border: 1px solid black;
        color: $text-color;
        // position: --webkit-sticky;
        // position: sticky;
        z-index: 10;

        nav {
            height: inherit;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            box-sizing: border-box;
            margin: 0% 10%;

            h1 {
                font-size: 18px;

            }

            ul {
                display: none;
            }

            svg {
                display: inline-block;
            }

        }

        .mobile-menu {
            display: block;
            width: 255px;
            height: 100vh;
            background-color: #36af9b;
            z-index: 100;
            top: 0px;
            left: -255px;
            padding: 5%;
            position: absolute;
            box-sizing: border-box;
            transition: 0.5s;
            // position: relative;

            // margin-top: -60px;

            h1 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #fff;
                margin-bottom: 1rem;
            }

            ul {

                padding: 20px 0px;

                a {
                    text-decoration: none;
                    color: white;

                    li {
                        display: block;
                        list-style-type: none;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        padding-bottom: 20px;
                    }
                }
            }

            .mobile-footer {
                position: absolute;
                bottom: 0px;
                padding: 20px 0px;

                h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: #fff;
                }

                ul {
                    display: flex;
                    padding-bottom: 0px;

                    li {
                        margin-right: 10px;
                    }
                }

                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
    }
}