@use 'mixin';

.portfolio {
    @include mixin.section();
    height: auto !important;
    padding: 2.5% 0%;

    h2 {
        @include mixin.sectionTitle(16px);
        text-align: center;
        padding-left: 0px;
        margin-bottom: 0.5rem;
    }

    .portfolio-container {

        h1 {
            @include mixin.sectionHeading(24px);
            text-align: center;
            padding-left: 0px;
        }

        img {
            width: 100%;
            display: block;
            margin: 10% auto;
        }

        button {
            @include mixin.button(150px, 40px, 14px);
            display: block;
            margin: auto;
        }
    }

}

